<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid-19 Country Statistics Management Application</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
     crossorigin="anonymous">
   <style>
       a {
        position: absolute;
      right: 20px;      
}
div{
    margin-top: 100px;
}
@media (min-width: 1405px) {
  .container-fluid{
    width: 1400px;
  }
}
   </style>

</head>
<body>
    <div class="container-fluid ">
    <h1>Covid-19 Statistics Management Application</h1>
    <p>This application lists the current number of 
        cases reported across states of India and COVID related data.</p>
<a href="/admin/statedata" class="btn btn-outline-primary" role="button">Admin Login</a>

 <div class="jumbotron ">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <p class="lead">Last Update:20-11-2021</p>
        <hr class="my-4">

        <h2>Vaccinations</h2>

		<div id="container"
			style="width: 1200px; height: 700px; margin:50px; padding-bottom:80px;"></div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Statewise Vaccination Chart'
        },
        subtitle: {
            text: 'Details'
        },
        xAxis: {
          categories: [[${State}]],

            crosshair: true
        },
        yAxis: {
            min: 100000,
            max:100000000,
            title: {
                text: 'Vaccinations'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Vaccinations',
            data: [[${Vaccinated}]]
        }]
      });
    });
</script>
</div>

<table class="table">
    <tr>
        <th>Sr.No</th>
        <th>State</th>
        <th>TotalCases</th>
        <th>Recovered</th>
        <th>ActiveCases</th>
        <th>Death</th>
        <th>Vaccinated</th>  
    </tr>
    <tr th:each="allStates : ${allStates}">
        <td th:text="${allStates.stateid}"></td>
        <td th:text="${allStates.state}"></td>
        <td th:text="${allStates.totalcases}">0</td>
        <td th:text="${allStates.recovered}">0</td>
        <td th:text="${allStates.active}">0</td>
        <td th:text="${allStates.death}">0</td>
        <td th:text="${allStates.vaccinated}">0</td>
    </tr>
</table>
</div>
</body>
</html>